$color_1: rgb(255, 215, 0);
$color_2: rgb(138, 43, 227);
$color_3: rgb(255, 240, 245);
$color_4: rgb(184, 134, 11);
$color_5: rgb(0, 0, 0);
$color_6: rgb(95, 158, 160);
$color_7: rgb(96, 44, 4);
$color_8: rgb(48, 80, 80);
$color_9: rgb(255, 255, 255);
$color_10: rgb(59, 111, 72);
$color_11: rgb(173, 185, 66);
$color_12: rgb(212, 141, 34);
$color_13: rgb(240, 49, 39);
$color_14: rgb(255, 99, 71);
$color_15: rgb(240, 216, 187);
$color_16: rgb(166, 43, 43);